<table>
  <thead>
    <tr>
      <th class="fr">Time</th><th>Tag</th><th>Task</th><th>Start</th><th>End</th><th>Pass</th><th>action</th>
    </tr>
  </thead>
  <tbody>
    <% @timeline.each do |time, liverecords| %>
      <% liverecords.each_with_index do |l, i| %>
	    <tr>
	      <th><%= time if i.zero? %></th>
	      <td><%= l.tags.first.try(:name) %></td>
	      <td><%= l.task.try(:name) %></td>
	      <td><%= l.start.try(:strftime, '%H:%M') %></td>
	      <td><%= l.end.try(:strftime, '%H:%M') %></td>
	      <td><%= l.pass %></td>
	      <td>
	        <% unless l.new_record? %>
	          <%= link_to 'Edit', edit_liverecord_path(l) %>
            <%= link_to 'Destroy', l, confirm: 'Are you sure?', method: :delete %>
	        <% end %>
	      </td>
	    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

